
###> symfony/framework-bundle ###
/.env.local
/.env.local.php
/.env.*.local
/config/secrets/prod/prod.decrypt.private.php
/public/bundles/
/var/
/vendor/
###< symfony/framework-bundle ###

###> IDE and Project Folders ###
/.idea/
###< IDE and Project Folders ###

/docker-compose.yml
/docker/image/php/Dockerfile
/public/photo/
